%h3 Home
- @users.each do |user|
  %p
  User: #{link_to user.name, user}

%div#all_images
  - @organizations = Organization.all
  - @organizations.each do |organization|
    - organization.org_no
    - @accounts = organization.accounts
    - @accounts.each do |account|
      - account.name
      - @images = account.images
      - @images.each do |image|
        %div#images-container.image
          = account.name
          = image_tag image.picture.url(:large)
          %a(href="#" data-reveal-id="myModal" data-animation="fade" data-animationspeed="100" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal") Image Details

          %div#myModal.reveal-modal
            %h1
              = account.name
            %p
              = image.price
            %p
              = image_tag image.picture.url(:large)
            %p
              = image.description
            %p
              = image.deal
            %p
              %a.close-reveal-modal Close
