-if client_user_signed_in?
  %div#cartData
    %h2 Cart Total
    %span.simpleCart_total
    %h3 Total Items
    %span.simpleCart_quantity.simpleCart_quantity
  %div
    %table(class="simpleCart_items")
  %div
    %a(href="javascript:;" class="simpleCart_empty") Empty Cart
    %a(href="#" class="saveCart") Checkout

%div#all_images
  - @organizations = Organization.all
  - @organizations.each do |organization|
    - @organization = organization
    - organization.org_no
    - @accounts = organization.accounts
    - @accounts.each do |account|
      - @account = account
      - if (@account.ac_type == "in")
        = link_to "#{@account.name}", account_path(@account.id)
        - @images = @account.images
        - @images.each do |image|
          %div#images-container.image
            = @account.name
            = @account.ac_type
            - @pic = image.id

            %a(href="#" data-reveal-id="#{@pic}myModal" data-animation="fade" data-animationspeed="100" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal")
              = image_tag image.picture.url(:large)
              Image Details

            %div.reveal-modal(id="#{@pic}myModal")
              %div.simpleCart_shelfItem
                %h2.item_name
                  = @account.name
                %div.item_image
                  = image_tag image.picture.url(:large)
                %p.item_price
                  = image.price
                %p
                  = image.description
                %p
                  = image.expiry
                %p.item_account
                  = account.id
                - if client_user_signed_in?
                  %p
                    = link_to "More goodies.. :)", account_path(@account.id)
                  %p
                    = link_to "Quick Buy", shop_path(@account.id)
                  %input(type="text" value="1" class="item_Quantity")
                  %div(class="item-thumb ")
                    %img(src="#{image.picture.url(:small)}")
                  %a(class="item_add" href="javascript:;") Add to Cart
                  %div.item-decrement
                    %a(class="simpleCart_decrement" href="javascript:;") Remove from Cart
                  %span.item-quantity
                  %span.item-total
                  Cart
                  Items
                %p
                  %a.close-reveal-modal &#215;

:javascript
  $(document).ready(function() {
    $(".saveCart").click(function(){
        $(".itemRow").each(function(){
            var itemName = $(this).find(".item-name").text();
            var itemPrice = $(this).find(".item-price").text();
            var itemQty = $(this).find(".item-quantity").text();
            var itemTotal = $(this).find(".item-total").text();
            var itemId = $(this).find(".item-account").text();

            $.ajax({
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "#{update_cart_path}",
                data: {itemName: itemName, itemPrice: itemPrice, itemQty: itemQty, itemTotal: itemTotal, itemId: itemId},
                dataType: "script"
            });
            simpleCart.empty();

        });

    });

    $(".checkout").click(function(){
      simpleCart.empty();
    });

  });
