= simple_form_for(:image, :url => {:action => 'create'},     :html => {:multipart => true}) do |f|
  = f.input :description
  = f.input :price
  = f.input :expiry, :as => :string, :input_html => { :class => 'date_picker' }
  = f.hidden_field :picture_file_name
  = f.input :discount
  = f.file_field :picture
  = f.submit "Upload" 
