= simple_form_for(:image, :url => {:action => 'create'},     :html => {:multipart => true}) do |f|
  = f.input :description
  = f.input :price
  = f.date_select :expiry
  = f.hidden_field :picture_file_name
  = f.input :discount
  = f.file_field :picture
  = f.submit "Upload" 
