%h2.item_name
  %div
    = image_tag @image.picture.url(:large)
    %p.item_price
      = @image.price
    %p
      = @image.description
    %p
      = @image.expiry
%div
  = link_to "Edit Product", edit_account_image_path
