!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Giga"
      %meta{:content => content_for?(:description) ? yield(:description) : "Giga", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
        = javascript_include_tag "application"
        = javascript_include_tag 'jquery-1.4.4.min.js'
        = javascript_include_tag "jquery.reveal.js"
        = javascript_include_tag "simpleCart.js"
        = javascript_include_tag "simpleCart.min.js"
        = javascript_include_tag 'jquery.mansory.min.js'
        = javascript_include_tag 'jquery.infinitescroll.min.js'
        = javascript_include_tag 'jqueryinfinitescroll.min.js'
        = yield :scripts
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
          %footer
      / ! end of .container
    / ! end of #main
