%h1 Listing accounts

%table
  %tr
    %th
    %th
    %th

  - @accounts.each do |account|
    - @account = account
    %tr
      %td= account.name
      %td= account.ac_type
      - if (@account.ac_type == "in")
        %td= link_to 'Edit', edit_account_path(account.id), :class=>"btn"
        %td= link_to 'Account details', account_path( account.id), :class=>"btn"
        %td= link_to "Images", account_path(account.id), :class=>"btn"
        - @images = account.images
        %div#images
          = render :partial => "images/images_list"
